body {
  font-family: Roboto;
  font-size: 1em;
  margin: 0px;
}

.main-header {
  box-shadow: 0px 0px 5px #bbbbbb;
  position: relative;

  .logo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.loader {
  border: 16px solid #ff79da;
  height: 100%;
  width: 100%;
  font-family: Shrikhand;
  border-top: 16px solid #9356dc;
}

.localisation {
  background-color: #eaeaea;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  .icon--localisation {
    position: relative;
    left: -15px;
  }
}

.loader {
  border: 16em solid #ff79da;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  font-family: Shrikhand;
  border-top: 16em solid #9356dc;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 3s linear infinite;
}

.menu {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;

  h2 {
    margin-top: 0px;
  }

  p {
    margin-top: 25px;
    margin-bottom: 30px;
    color: #353535;
  }

  .btn {
    background: linear-gradient(#eb72da, #a25bdc);
    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
  }
}

.fonctionnement {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.nbr-etapes {
  list-style: none;
  padding-left: 0px;

  .etape {
    background-color: #f6f6f6;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0px 5px 14px #00000026;

    .nombre {
      position: absolute;
      background-color: #9356dc;
      border-radius: 100%;
      color: #fff;
      text-align: center;
      height: 25px;
      width: 25px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: -11px;
      top: 27px;
    }
    .i {
      margin-left: 21px;
      color: #9356dc;
    }
  }
}

.restaurants {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  background-color: #f6f6f6;

  .cards {
    .card {
      background-color: #fff;
      margin-bottom: 20px;
      border-radius: 25px;

      a {
      }

      .photo-restaurant {
        width: 100%;
        object-fit: cover;
      }

      .nom-restaurant {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  img {
    height: 170px;
    width: 334px;
  }
}

.footer {
  background-color: #353535;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 30px;

  .logo {
    max-width: 100px;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  i {
    margin-right: 10px;

    &.icon-partenaire {
      font-size: 0.7em;
    }
  }
}
